a {
    text-decoration: none !important;
}
.articleLink, .name, .symbol, .price, .news, #stocks {
    color: black;
}
.articleLink:hover {
    color: blue
}
body {
    background-image: url('https://images.pexels.com/photos/187041/pexels-photo-187041.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')
}
#stocks {
    margin: 10px;
}
nav {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 7%;
    background: darkgray;
    text-align: center;
    float: none;
    opacity: .9;
}
.container {
    background: darkgray;
    padding: 0px;
    opacity: .9;
    margin-top: 0;
    margin-bottom: 0;
}